<h2 class="page-header">Edit Book</h2>
<form action="/books/<%= book.id %>?_method=PUT" method="POST">
    <!-- common input tag for NEW and EDIT file -->
    <%- include('_form_fields')  %>
    <!-- Cancel Button(link) take back us to our author list view -->
    <div class="form-row form-row-end btn-row">
        <a class="btn-danger" href="/books">Cancel</a>
        <button class="btn-primary" type="submit">Update</button>
    </div>
</form>